@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.page-header {
  position: relative;
  width: 1160px;
  min-height: 300px;
  margin: auto;
  margin-top: 40px;
  background-color: #FFE17F;
}

.navigation {
  position: absolute;
  right: 60px;
  top: -20px;
  display: flex;
  flex-direction: column;
  width: 1040px;
  min-height: 186px;
  margin: auto;
}

.device-logo-link {
  display: flex;
  align-self: flex-start;
  margin-bottom: 30px;
}

.user-features {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.searching-form {
  display: flex;
  margin-right: 26px;
}

.searching-form-label {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.form-field {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  width: 359px;
  height: 40px;
  padding: 10px 10px 10px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: inherit;
}

.form-field::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-field::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}


.searching-form-image {
  position: absolute;
  top: 12px;
  left: 16px;
}

.form-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 158px;
  height: 40px;
  border: 2px solid #000000;
  border-left: 0;
  border-radius: 0 50px 50px 0;
  background-color: inherit;
  color: #000000;
  cursor: pointer;
}

.user-account-container {
  display: flex;
  align-items: center;
  width: 231px;
  min-height: 30px;
  flex-shrink: 0;
  margin-right: 26px;
}

.acount-entry-link-image {
  display: flex;
  justify-content: center;
  width: 15px;
  height: 12px;
  margin-right: 12px;
}

.account-entry-link {
  min-height: 30px;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}


.user-account-exit-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.comparison-container {
  display: flex;
  align-items: center;
  width: 105px;
  min-height: 30px;
  margin-right: 61px;
}

.comparsion-link-image {
  display: flex;
  width: 10px;
  height: 12px;
  margin-right: 12px;
}

.comparison-link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}

.basket-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 99px;
  min-height: 30px;
}

.basket-link-icons {
  display: flex;
  text-decoration: none;
  position: absolute;
  left: -43px;
  width: 31px;
  height: 21px;
}

.basket-icons-container {
  display: flex;
  position: absolute;
}

.basket-numbers {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  width: 21px;
  height: 21px;
  border-radius: 10.5px;
  background-color: #ffffff;
  color: #000000;
  z-index: 1;
}

.basket-image {
  position: absolute;
  top: 1.5px;
  left: 15px;
  z-index: 0;
}

.basket-link {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}

.basket-popover {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  top: 31px;
  right: -83px;
  width: 320px;
  min-height: 307px;
  justify-content: column;
  background-color: #000000;
  flex-wrap: wrap;
  z-index: 1;
}

.basket-popover::before {
  content: url("/images/header/basket-popover/icons/triangle.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  top: -14px;
  right: 153px;
}

.basket-popover-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.basket-popover-item {
  width: 320px;
  height: 83px;
}

.basket-popover-item-container {
  display: flex;
  width: 183px;
  min-height: 43px;
}

.basket-popover-title {
  margin: 0;
}

.basket-popover-button-delete {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.basket-popover-result {
  display: flex;
  width: 320px;
  min-height: 44px;
  padding: 0 20px;
}

.basket-popover-result-type {
  display: flex;

  width: 120px;
  min-height: 44px;
  margin: 0;
  color: #ffffff;
}

.basket-popover-title {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.basket-popover-result-type {
  font-size: 16px;
  line-height: 20px;
}

.open-basket-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 280px;
  min-height: 50px;
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  text-decoration: none;
}

.navigation-points {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.product-catalog-buttons {
  display: flex;
  width: 293px;
  height: 50px;
  align-items: center;
}

.good-catalog-button {
  position: relative;
  display: flex;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  width: 236px;
  min-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 7px;
  background-color: inherit;
  cursor: pointer;
  z-index: 1;
}

.good-catalog-circle {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 243px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #000000;
  opacity: 0.3;
  background-color: inherit;
  cursor: pointer;
  z-index: 1;
}

/*При нажатии на кнопку каталог товаров или кружочек, будет добавляться display: none либо ::before, либо ::after.*/
.good-catalog-circle::before {
  content: url("/images/header/icons/plus-icon.svg");
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
}

.good-catalog-circle::after {
  display: none;
  content: url("/images/header/icons/minus-icon.svg");
  width: 16px;
  height: 16px;
  position: relative;
  top: -3px;
}

/*При нажатии на кнопку каталог товаров или кружочек, будет меняться значение с display: none на display: flex*/
.good-catalog-popover {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 1160px;
  min-height: 180px;
  background-color: #FFE17F;
  right: -60px;
  top: 167px;
  padding: 33px 60px 27px 60px;
}

.good-catalog-popover-column-first {
  margin-right: 30px;
  width: 222px;
  min-height: 120px;
}

.good-catalog-popover-column-first li:not(:last-child) {
  margin-top: -1px;
  margin-bottom: 18px;
}

.good-catalog-popover-column-first li:nth-child(2) {
  margin-bottom: 17px;
}

.good-catalog-popover-column-second {
  margin-right: 1px;
  width: 211px;
  min-height: 120px;
}

.good-catalog-popover-column-second li:not(:last-child) {
  margin-top: -1px;
  margin-bottom: 17px;
}

.good-catalog-popover-column-third {
  width: 211px;
  min-height: 120px;
}

.good-catalog-popover-column-third .good-catalog-popover-column-item {
  margin-top: -1px;
}

.good-catalog-popover-column-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.good-catalog-popover-item {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 471px;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.services-list-item {
  display: flex;
  flex-shrink: 0;
  width: 127px;
  z-index: 1;
}

.delivery-link,
.guarantee-link,
.contacts-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.slide-number {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}

.slide-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slide-description {
  font-size: 18px;
  line-height: 30px;
}

.slide-detailed {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.flight-range-value {
  font-size: 36px;
  line-height: 30px;
}

.flight-range-description {
  font-size: 16px;
  line-height: 30px;
}

.defeat-radius-value {
  font-size: 36px;
  line-height: 30px;
}

.defeat-radius-description {
  font-size: 16px;
  line-height: 30px;
}

.charge-time-value {
  font-size: 36px;
  line-height: 30px;
}

.charge-description {
  font-size: 16px;
  line-height: 30px;
}

.stick-length-value {
  font-size: 36px;
  line-height: 30px;
}

.stick-length-description {
  font-size: 16px;
  line-height: 30px;
}

.stick-weight-value {
  font-size: 36px;
  line-height: 30px;
}

.stick-weight-description {
  font-size: 16px;
  line-height: 30px;
}

.stick-material-type {
  font-size: 36px;
  line-height: 30px;
}

.stick-material-description {
  font-size: 16px;
  line-height: 30px;
}

.card-description {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.service-tab-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.service-tab-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service-tab-decription {
  font-size: 18px;
  line-height: 30px;
}

.rare-delivery-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.rare-delivery-information-container {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(220, 220, 220, 0.5);
}

.circle-information {
  position: absolute;
  box-sizing: border-box;
  top: 14px;
  left: 18.5px;
  width: 2px;
  height: 12px;
  padding: 0;
  margin: auto;
  background-image: url("/images/main/icons/i-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.about-us-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us-description {
  font-size: 18px;
  line-height: 30px;
}

.about-us-list-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about-us-detailed {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-description {
  font-size: 18px;
  line-height: 30px;
}

.device-online-store {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address-text {
  font-size: 18px;
  line-height: 30px;
}

.contacts-phone {
  font-size: 18px;
  line-height: 30px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-shedule-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contact-us {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscription-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscription-description {
  font-size: 18px;
  line-height: 30px;
}

.form-field-subscription {
  font-size: 18px;
  line-height: 30px;
}

.subscription-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.side-element-text {
  font-size: 18px;
  line-height: 30px;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-phone-number {
  font-size: 16px;
  line-height: 20px;
}

.modal-content-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.modal-close-button {
  background-image: url("/images/modal/modal-close-icon.svg");
  background-repeat: no-repeat;
}

.form-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.form-input {
  font-size: 16px;
  line-height: 20px;
}

.form-caption {
  font-size: 14px;
  line-height: 20px;
}

.form-error {
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.modal-form-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.form-popover-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form-input-button-decrease {
  background-image: url("/images/modal/minus.svg");
  background-repeat: no-repeat;
}

.form-input-button-increase {
  background-image: url("/images/modal/plus.svg");
  background-repeat: no-repeat;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumb-main-link,
.breadcrumb-goods-catalog,
.breadcrumb-monopods {
  font-size: 16px;
  line-height: 20px;
}

.filters-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-label {
  font-size: 14px;
  line-height: 20px;
}

.range-input {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
}

.show-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-select {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-price {
  font-size: 18px;
  line-height: 21px;
}

.card-element {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.download-more-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-button-back {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-number {
  font-size: 16px;
  line-height: 20px;
}

.pagination-button-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
